input[type=range] {
    -webkit-appearance: none;
    background: none;
    height: 4px;
    border: 1px solid #555;
    border-radius: 2px;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 2px solid #F25C05;
  }
  
  input[type=range]::-moz-range-thumb {
    background: none;
    width: 11px;
    height: 11px;
    border-radius: 7px;
    border: 2px solid #F25C05;
  }
  
  input[type=range]::-ms-thumb {
    background: none;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 2px solid #F25C05;
  }
  
  input[type=range]::-webkit-slider-thumb:active {
    border-color: #F28705;
  }
  
  input[type=range]::-moz-range-thumb:active {
    border-color: #F28705;
  }
  
  input[type=range]::-ms-thumb:active {
    border-color: #F28705;
  }
  
  button {
    background: #F25C05;
    border-radius: 3px;
    border: none;
    color: white;
    padding: 0 4px;
    margin: 0;
    font-size: 15px;
  }
  
  button:hover {
    background: #F28705;
  }
  
  button:active {
    background: #F25C05;
  }